Checks: >
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,

  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,

CheckOptions:
- key: readability-implicit-bool-conversion.AllowIntegerConditions
  value: true
- key: readability-implicit-bool-conversion.AllowPointerConditions
  value: true
